<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mysql.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost/beauty?characterEncoding=UTF-8"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					main/com/yourantao/aimeili/bean/Efficacy.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Brand.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Report.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/UserAddress.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Order.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Show.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/OrderGoods.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Feedback.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/CoinRecord.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/UserLogin.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/ShoppingCart.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Question.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/QuestionComment.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/ReportComment.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/ShowComment.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/GoodsEfficacy.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/ReportGoods.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/UserFavorite.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Diary.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/GoodsComment.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Goods.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/TopicGoods.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/ProviderLocations.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/User.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Keyword.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Category.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Provider.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Topic.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/DiaryComment.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/GoodsMap.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/GoodsReal.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Image.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Series.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/GoodsImages.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/Ranking.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/RankingGoods.hbm.xml
				</value>
				<value>
					main/com/yourantao/aimeili/bean/UserRelative.hbm.xml
				</value></list>
		</property>
	</bean>

	<bean id="EfficacyDAO" class="main.com.yourantao.aimeili.bean.EfficacyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BrandDAO" class="main.com.yourantao.aimeili.bean.BrandDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReportDAO" class="main.com.yourantao.aimeili.bean.ReportDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserAddressDAO" class="main.com.yourantao.aimeili.bean.UserAddressDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderDAO" class="main.com.yourantao.aimeili.bean.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShowDAO" class="main.com.yourantao.aimeili.bean.ShowDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderGoodsDAO" class="main.com.yourantao.aimeili.bean.OrderGoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FeedbackDAO" class="main.com.yourantao.aimeili.bean.FeedbackDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CoinRecordDAO" class="main.com.yourantao.aimeili.bean.CoinRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserLoginDAO" class="main.com.yourantao.aimeili.bean.UserLoginDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShoppingCartDAO" class="main.com.yourantao.aimeili.bean.ShoppingCartDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionDAO" class="main.com.yourantao.aimeili.bean.QuestionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionCommentDAO" class="main.com.yourantao.aimeili.bean.QuestionCommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReportCommentDAO" class="main.com.yourantao.aimeili.bean.ReportCommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ShowCommentDAO" class="main.com.yourantao.aimeili.bean.ShowCommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsEfficacyDAO" class="main.com.yourantao.aimeili.bean.GoodsEfficacyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReportGoodsDAO" class="main.com.yourantao.aimeili.bean.ReportGoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserFavoriteDAO" class="main.com.yourantao.aimeili.bean.UserFavoriteDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DiaryDAO" class="main.com.yourantao.aimeili.bean.DiaryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsCommentDAO" class="main.com.yourantao.aimeili.bean.GoodsCommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsDAO" class="main.com.yourantao.aimeili.bean.GoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TopicGoodsDAO" class="main.com.yourantao.aimeili.bean.TopicGoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProviderLocationsDAO" class="main.com.yourantao.aimeili.bean.ProviderLocationsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO" class="main.com.yourantao.aimeili.bean.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="KeywordDAO" class="main.com.yourantao.aimeili.bean.KeywordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CategoryDAO" class="main.com.yourantao.aimeili.bean.CategoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ProviderDAO" class="main.com.yourantao.aimeili.bean.ProviderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TopicDAO" class="main.com.yourantao.aimeili.bean.TopicDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DiaryCommentDAO" class="main.com.yourantao.aimeili.bean.DiaryCommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsMapDAO" class="main.com.yourantao.aimeili.bean.GoodsMapDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsRealDAO" class="main.com.yourantao.aimeili.bean.GoodsRealDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ImageDAO" class="main.com.yourantao.aimeili.bean.ImageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="RankGenerator" class="main.com.yourantao.aimeili.util.RankGenerator">
	</bean>

	<bean id="BaseAction" class="main.com.yourantao.aimeili.action.BaseAction"
		abstract="true">
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
		<property name="rankGenerator">
			<ref bean="RankGenerator" />
		</property>
	</bean>

	<bean id="TopicAction" class="main.com.yourantao.aimeili.action.TopicAction"
		parent="BaseAction">
		<property name="topicDAO">
			<ref bean="TopicDAO" />
		</property>
		<property name="topicGoodsDAO">
			<ref bean="TopicGoodsDAO" />
		</property>
	</bean>

	<bean id="GoodsAction" class="main.com.yourantao.aimeili.action.GoodsAction"
		parent="BaseAction">
		<property name="goodsDAO">
			<ref bean="GoodsDAO" />
		</property>
		<property name="categoryDAO">
			<ref bean="CategoryDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
		<property name="rankGenerator">
			<ref bean="RankGenerator" />
		</property>
		<property name="seriesDAO">
			<ref bean="SeriesDAO" />
		</property>
		<property name="brandDAO">
			<ref bean="BrandDAO" />
		</property>
		<property name="goodsImagesDAO">
			<ref bean="GoodsImagesDAO" />
		</property>
		<property name="goodsMapDAO">
			<ref bean="GoodsMapDAO" />
		</property>
		<property name="goodsRealDAO">
			<ref bean="GoodsRealDAO" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="userLoginDAO">
			<ref bean="UserLoginDAO" />
		</property>
		<property name="userFavoriteDAO">
			<ref bean="UserFavoriteDAO" />
		</property>
		<property name="goodsCommentDAO">
			<ref bean="GoodsCommentDAO" />
		</property>

	</bean>

	<bean id="CategoryAction" class="main.com.yourantao.aimeili.action.CategoryAction"
		parent="BaseAction">
		<property name="categoryDAO">
			<ref bean="CategoryDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
	</bean>

	<bean id="BrandAction" class="main.com.yourantao.aimeili.action.BrandAction"
		parent="BaseAction">
		<property name="brandDAO">
			<ref bean="BrandDAO" />
		</property>
		<property name="seriesDAO">
			<ref bean="SeriesDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
	</bean>
	
	<bean id="EfficacyAction" class="main.com.yourantao.aimeili.action.EfficacyAction"
		parent="BaseAction">
		<property name="efficacyDAO">
			<ref bean="EfficacyDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
	</bean>
	
	<bean id="RankingAction" class="main.com.yourantao.aimeili.action.RankingAction"
		parent="BaseAction">
		<property name="rankingDAO">
			<ref bean="RankingDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
		<property name="rankingGoodsDAO">
			<ref bean="RankingGoodsDAO" />
		</property>
		<property name="goodsDAO">
			<ref bean="GoodsDAO" />
		</property>
	</bean>

	<!-- added by wander -->
	<bean id="ProviderAction" class="main.com.yourantao.aimeili.action.ProviderAction"
		parent="BaseAction">
		<property name="providerDAO">
			<ref bean="ProviderDAO" />
		</property>
		<property name="providerLocationsDAO">
			<ref bean="ProviderLocationsDAO" />
		</property>
		<property name="imageDAO">
			<ref bean="ImageDAO" />
		</property>
	</bean>
	
	<bean id="ShoppingCartAction" class="main.com.yourantao.aimeili.action.ShoppingCartAction"
		parent="BaseAction">
		<property name="shoppingCartDAO">
			<ref bean="ShoppingCartDAO" />
		</property>
		<property name="goodsRealDAO">
			<ref bean="GoodsRealDAO" />
		</property>
	</bean>
	<bean id="OrderAction" class="main.com.yourantao.aimeili.action.OrderAction"
		parent="BaseAction">
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
		<property name="orderGoodsDAO">
			<ref bean="OrderGoodsDAO" />
		</property>
		<property name="goodsRealDAO">
			<ref bean="GoodsRealDAO" />
		</property>
		<property name="userAddressDAO">
			<ref bean="UserAddressDAO" />
		</property>
		<property name="shoppingCartDAO">
			<ref bean="ShoppingCartDAO" />
		</property>
	</bean>
	<bean id="UserAction" class="main.com.yourantao.aimeili.action.UserAction"
		parent="BaseAction">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="userLoginDAO">
			<ref bean="UserLoginDAO" />
		</property>
		<property name="userFavoriteDAO">
			<ref bean="UserFavoriteDAO" />
		</property>
		<property name="userRelativeDAO">
			<ref bean="UserRelativeDAO" />
		</property>
	</bean>
	<!-- end -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*Action</value>
				<value>*Server</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	<bean id="SeriesDAO" class="main.com.yourantao.aimeili.bean.SeriesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GoodsImagesDAO" class="main.com.yourantao.aimeili.bean.GoodsImagesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RankingDAO"
		class="main.com.yourantao.aimeili.bean.RankingDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RankingGoodsDAO"
		class="main.com.yourantao.aimeili.bean.RankingGoodsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserRelativeDAO"
		class="main.com.yourantao.aimeili.bean.UserRelativeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>
